<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vctapps.beacon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".core.BeaconApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.searchbusstop.SearchBusStopViewImpl"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.listbus.view.ListBusViewImpl"
            android:label="Ônibus disponíveis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.detailbus.view.DetailBusViewImpl"
            android:label="Detalhes do ônibus"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.requestbus.RequestBusViewImpl" />

        <service android:name=".service.notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.notifications.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".presentation.buswaiting.WaitingBus"></activity>
    </application>

</manifest>